<template>

<div class="footer">
 
<footer style="background-color:#6495ED;">
  


    <div class="text-center p-5 " style="margin-top:160px;">
        <a class="text-white text-align: center;" href="https://simplon.co/"> ©2020 Copyright:  Big brother</a>
        
    </div>

</footer>
</div>
</template>

<script>


export default {
	name: 'Footer',
	props: ['jsons'],

}
</script>