<template>

<div class="header">


<div class="container-fluide ">
 <div class="row ">
    

        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg d-flex justify-content-center" style="height:120%; background-color:#6495ED;">
                <a class="navbar-brand text-white " href="#" ><b style="font-size:30px">Big </b>brother</a>
               
            </nav>


        </div>
    </div>
</div>
  <br>
<br>
<br>

</div>


</template>

<script>


export default {
	name: 'Header',
	props: ['jsons'],
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->