<template>


<div class="page">


<div class="container-fluide ">
 <div class="row ">
<!-- fin header !-->

<!-- fin contenu !-->

<div class="input-group d-flex justify-content-center">
  <div class="form-outline">
    <input id="input" type="search"  class="form-control" placeholder="search"  />
   
  </div>
  <button @click="loup()" type="button" class="btn btn-primary" style="height: 40px; margin-left:1%;">valider </button>
</div>


</div>

<div class="container" style="margin-top:8%;">
  <div class="row  d-flex justify-content-center " >

  <div  v-for=" item in jsons" :key="item.jsons" class="card col-sm-4  mr-3 d-flex align-items-center " style="width: 18rem; " >

  <img v-bind:src ="item.picture" class="card-img-top" alt="..."  @click="overlay(item)">
  <div class="card-body">
  <h5 class="card-title">{{ item.name.last + ' ' + item.name.first}}</h5>
   
  </div>
</div>




  </div>
</div>


<div class="container">
  <div class="row  d-flex justify-content-center " >





  </div>
</div>

<!-- fin contenu -->
</div>
</div>

</template>

<script>
export default {
	name: 'Page',
	props: ['jsons'],

	methods: {

		overlay: function (item) {

			alert(item.name.last + '  ' + item.name.first + '  ' + item.phone + ' ' + item.email);

		},

		loup: function () {

			var value;
			var saisie = document.getElementById("input").value;

			for (const item of this.jsons) {
				if (saisie == item.name.first) {

					value = 'le prénom ' + ' ' + saisie + ' ' + 'exsist';

				}




			}
			if (value == undefined) {

				alert('votre prenom exist pas');
			} else {

				alert(value);
			}



		}

	}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
