<template>
  <div id="app">

  <Header/>
    <Page :jsons="jsons" />
<Footer/>

  </div>
</template>

<script>
import Page from './components/Page.vue';
import Footer from './components/Footer.vue';
import Header from './components/Header.vue';
import jsons  from './../data.json';


export default {
  name: 'App',
  components: {
     Header,
     Page,
    Footer,
    
  },
 data: function () {
  return {
    jsons
  }

},


}


</script>

<style>
body{

    overflow-x: hidden;     
}

/* margin mobile*/

@media screen and (max-width: 765px) {
    .card{

margin-top:5%;

    }
  }


/* margin pc*/
  @media screen and (min-width: 765px) {
    .card{

margin-top:5%;

    }
  }
img{
height:75%;
}


</style>
